MSSQL_SA_PASSWORD=ReplaceMe
VAULT_DEV_ROOT_TOKEN_ID=dev-root-token
VAULT_ADDR=http://vault:8200
VAULT_TOKEN=ReplaceMe
JWT_ISSUER=http://localhost
JWT_AUDIENCE=pki-api
JWT_ACCESS_MINUTES=15
JWT_REFRESH_DAYS=30
SEED_SUPERADMIN=false
SEED_SUPERADMIN_EMAIL=superadmin@example.local
SEED_SUPERADMIN_PASSWORD=ReplaceMe
